@use "../../styles/sass/variables" as v;
@use "../../styles/sass/breakpoints" as mq;
@use "../../styles/sass/typography" as t;

.dropdown {
  position: relative;

  button {
    background-color: v.$neutral-800;
    border-radius: v.$r-6;
    color: v.$neutral-0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: clamp(v.$sp-015, 0.1365rem + 1.0178vw, v.$sp-025);
    padding: clamp(v.$sp-02, 0.2615rem + 1.0178vw, v.$sp-025)
      clamp(v.$sp-025, 0.2672rem + 1.5267vw, v.$sp-04);
    @include t.button;
  }
}

.dropdown__content {
  box-sizing: border-box;
  background-color: v.$neutral-800;
  border-radius: v.$r-12;
  color: v.$neutral-0;
  display: grid;
  gap: v.$sp-01;
  height: 0;
  justify-items: start;
  max-width: 100%;
  min-width: fit-content;
  overflow: hidden;
  right: 0;
  opacity: 0;
  outline: 1px solid v.$neutral-600;
  padding: v.$sp-015 v.$sp-02;
  position: absolute;
  text-wrap: wrap;
  top: calc(100% + v.$sp-025);
  width: 100%;
  z-index: 100;
  transition:
    height 350ms ease-in,
    opacity 1ms linear 350ms;

  button {
    cursor: pointer;
    padding: v.$sp-025 v.$sp-02;
    text-align: left;
    @include t.button;
  }

  .dropdown__title {
    color: v.$neutral-300;
    padding: v.$sp-015 v.$sp-02;
    text-transform: capitalize;
    @include t.dropdownTitle;
  }
}

.dropdown__contentOpen {
  height: fit-content;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 1ms linear,
    height 350ms ease-in;
}

.dropdown__group {
  margin-block: v.$sp-01;
  width: 200px;
}

.dropdown__groupItems {
  display: grid;
  gap: v.$sp-01;
  justify-items: start;
}

.dropdown__search {
  position: relative;
  &::before {
    content: url(images/icon-search.svg);
    color: v.$neutral-200;
    position: absolute;
    top: v.$sp-045;
    left: v.$sp-06;
    z-index: 1;
  }
}

.dropdown__input {
  background-color: v.$neutral-800;
  border: none;
  border-radius: v.$r-12;
  color: v.$neutral-0;
  cursor: pointer;
  padding-inline-start: v.$sp-16;
  padding-block: v.$sp-04;
  position: relative;
  text-transform: capitalize;
  width: 100%;

  &::placeholder {
    color: v.$neutral-200;
    text-transform: none;
  }

  &:focus {
    outline: v.$sp-005 solid v.$neutral-0;
    outline-offset: 3px;
  }
}
