@use "../../styles/sass/variables" as v;
@use "../../styles/sass/breakpoints" as mq;
@use "../../styles/sass/typography" as t;

.forecast {
  color: v.$neutral-0;
}

.forecast__weatherInfo {
  background-image: url(images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: v.$r-20;
  padding: v.$sp-06;
  position: relative;
  text-align: center;
  z-index: -1;
  @include mq.sm {
    background-image: url(images/bg-today-large.svg);
  }
  @include mq.md {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: v.$sp-20 v.$sp-06;
    text-align: left;
  }

  h2 {
    margin-block: v.$sp-03;
    @include t.title;
  }

  p {
    @include t.cardHeader;
  }
}

.forecast__temp {
  align-items: center;
  display: flex;
  gap: v.$sp-05;
  justify-content: space-around;
  margin-block: v.$sp-04;

  p {
    @include t.currentTemp;
  }
}

.forecast__icon {
  height: 120px;
  width: 120px;
}

.forecast__loading {
  align-items: center;
  background-color: v.$neutral-800;
  border-radius: inherit;
  bottom: 0;
  color: v.$neutral-0;
  display: flex;
  flex-direction: column;
  gap: v.$sp-04;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
  @include t.input;

  img {
    height: 40px;
    width: 40px;
  }
}

.forecast__container {
  display: grid;
  gap: v.$sp-04;
  grid-template-columns: 1fr 1fr;
  margin-block: v.$sp-05;

  @include mq.sm {
    grid-template-columns: repeat(4, 1fr);
  }
}

.forecast__card {
  background-color: v.$neutral-800;
  border: 1px solid inset v.$neutral-600;
  border-radius: v.$r-12;
  height: 7.5rem;
  padding: v.$sp-05;

  h3 {
    color: v.$neutral-200;
    margin-block-end: v.$sp-06;
    text-transform: capitalize;
    @include t.cardHeader;
  }

  p {
    color: v.$neutral-0;
    @include t.cardData;
  }
}
