@use "../../styles/sass/variables" as v;
@use "../../styles/sass/breakpoints" as mq;
@use "../../styles/sass/typography" as t;

.forecast {
  color: v.$neutral-0;
  margin-block: v.$sp-08;
}

.forecast__weatherInfo {
  background-image: url(images/bg-today-small.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: v.$r-20;
  padding: v.$sp-06;
  text-align: center;

  @include mq.sm {
    background-image: url(images/bg-today-large.svg);
  }

  h2 {
    margin-block: v.$sp-03;
    @include t.location;
  }

  p {
    @include t.cardHeader;
  }
}

.forecast__temp {
  align-items: center;
  display: flex;
  //   gap: v.$sp-05;
  justify-content: space-around;
  margin-block: v.$sp-04;

  p {
    @include t.currentTemp;
  }
}

.forecast__icon {
  height: 120px;
  width: 120px;
}

.forecast__container {
  display: grid;
  gap: v.$sp-04;
  grid-template-columns: 1fr 1fr;
  margin-block: v.$sp-05;

  @include mq.sm {
    grid-template-columns: repeat(4, 1fr);
  }
}

.forecast__card {
  background-color: v.$neutral-800;
  border: 1px solid inset v.$neutral-600;
  border-radius: v.$r-12;
  padding: v.$sp-05;

  h3 {
    color: v.$neutral-200;
    margin-block-end: v.$sp-06;
    text-transform: capitalize;
    @include t.cardHeader;
  }

  p {
    color: v.$neutral-0;
    @include t.cardData;
  }
}
