/* COLOURS */

$neutral-900: #03012d;
$neutral-800: #252741;
$neutral-700: #2f314b;
$neutral-600: #3b3d5e;
$neutral-300: #aeaeb7;
$neutral-200: #d4d3d9;
$neutral-0: #ffffff;

$orange-500: #ff7a0a;

$blue-500: #4456da;
$blue-700: #1c219c;

/* SPACING */
// 01 = 4px
$sp-0: 0;
$sp-005: 0.125rem;
$sp-01: 0.25rem;
$sp-015: 0.375rem;
$sp-02: 0.5rem;
$sp-025: 0.625rem;
$sp-03: 0.75rem;
$sp-035: 0.875rem;
$sp-04: 1rem;
$sp-05: 1.25rem;
$sp-06: 1.5rem;
$sp-08: 2rem;
$sp-10: 2.5rem;
$sp-12: 3rem;
$sp-16: 4rem;
$sp-20: 5rem;
$sp-24: 6rem;
$sp-28: 7rem;
$sp-32: 8rem;
$sp-35: 8.75rem;

/* BORDER RADIUS */

$r-0: 0;
$r-4: 4px;
$r-6: 6px;
$r-8: 8px;
$r-10: 10px;
$r-12: 12px;
$r-16: 16px;
$r-20: 20px;
$r-24: 24px;
$r-full: 999px;

/* FONT VARIABLES */

/* Font Sizes */

$font-sm: 0.875rem;
$font-base: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.75rem;
$font-3xl: 2rem;
$font-4xl: 3.25rem;
$font-5xl: 6rem;

/* Line Heights */

$lh-standard: 100%;
$lh-loose: 120%;

/* Font Weights */

$font-light: 300;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

/* Font Family's */

$font-primary: "DM Sans", sans-serif;
$font-secondary: "Bricolage Grotesque", sans-serif;
