/* COLOURS */

$neutral-900: var(--neutral-900);
$neutral-800: var(--neutral-800);
$neutral-700: var(--neutral-700);
$neutral-600: var(--neutral-600);
$neutral-300: var(--neutral-300);
$neutral-200: var(--neutral-200);
$neutral-0: var(--neutral-0);

$orange-500: var(--orange-500);

$blue-500: var(--blue-500);
$blue-700: var(--blue-700);

/* SPACING */
// 01 = 4px
$sp-0: var(--spacing-0);
$sp-005: var(--spacing-005);
$sp-01: var(--spacing-01);
$sp-015: var(--spacing-015);
$sp-02: var(--spacing-02);
$sp-025: var(--spacing-025);
$sp-03: var(--spacing-03);
$sp-035: var(--spacing-035);
$sp-04: var(--spacing-04);
$sp-045: var(--spacing-045);
$sp-05: var(--spacing-05);
$sp-06: var(--spacing-06);
$sp-08: var(--spacing-08);
$sp-10: var(--spacing-10);
$sp-12: var(--spacing-12);
$sp-16: var(--spacing-16);
$sp-20: var(--spacing-20);
$sp-24: var(--spacing-24);
$sp-28: var(--spacing-28);
$sp-32: var(--spacing-32);
$sp-35: var(--spacing-35);

/* BORDER RADIUS */

$r-0: var(--radius-0);
$r-4: var(--radius-4);
$r-6: var(--radius-6);
$r-8: var(--radius-8);
$r-10: var(--radius-10);
$r-12: var(--radius-12);
$r-16: var(--radius-16);
$r-20: var(--radius-20);
$r-24: var(--radius-24);
$r-full: var(--radius-full);

/* FONT VARIABLES */

/* Font Sizes */

$font-sm: var(--font-sm);
$font-base: var(--font-base);
$font-lg: var(--font-lg);
$font-xl: var(--font-xl);
$font-2xl: var(--font-2xl);
$font-3xl: var(--font-3xl);
$font-4xl: var(--font-4xl);
$font-5xl: var(--font-5xl);

/* Line Heights */

$lh-standard: var(--lh-standard);
$lh-loose: var(--lh-loose);

/* Font Weights */

$font-light: var(--font-light);
$font-medium: var(--font-medium);
$font-semibold: var(--font-semibold);
$font-bold: var(--font-bold);

/* Font Family's */

$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

/* Z-Index */

$z-base: var(--z-base);
$z-dropdown: var(--z-dropdown);
$z-popover: var(--z-popover);
$z-tooltip: var(--z-tooltip);
