body {
  background-color: var(--neutral-900);
  min-height: 100vh;
}

main {
  margin-inline: clamp(
    var(--spacing-04),
    0.5229rem + 2.0356vw,
    var(--spacing-06)
  );
}

@media (min-width: 768px) {
  main {
    margin-inline: clamp(
      var(--spacing-06),
      -4.7857rem + 13.0952vw,
      var(--spacing-28)
    );
  }
}
