:root {
  /* COLOURS */

  --neutral-900: #03012d;
  --neutral-800: #252741;
  --neutral-700: #2f314b;
  --neutral-600: #3b3d5e;
  --neutral-300: #aeaeb7;
  --neutral-200: #d4d3d9;
  --neutral-0: #ffffff;

  --orange-500: #ff7a0a;

  --blue-500: #4456da;
  --blue-700: #1c219c;

  /* SPACING */

  --spacing-0: 0;
  --spacing-005: 0.125rem;
  --spacing-01: 0.25rem;
  --spacing-015: 0.375rem;
  --spacing-02: 0.5rem;
  --spacing-025: 0.625rem;
  --spacing-03: 0.75rem;
  --spacing-035: 0.875rem;
  --spacing-04: 1rem;
  --spacing-045: 1.125rem;
  --spacing-05: 1.25rem;
  --spacing-06: 1.5rem;
  --spacing-08: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-28: 7rem;
  --spacing-32: 8rem;
  --spacing-35: 8.75rem;

  /* BORDER RADIUS */

  --radius-0: 0;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;

  /* FONT VARIABLES */

  /* Font Sizes */

  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.75rem;
  --font-3xl: 2rem;
  --font-4xl: 3.25rem;
  --font-5xl: 6rem;

  /* Line Heights */

  --lh-standard: 100%;
  --lh-loose: 120%;

  /* Font Weights */

  --font-light: 300;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  /* Font Family's */

  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "Bricolage Grotesque", sans-serif;
}
