@use "../../styles/sass/variables" as v;
@use "../../styles/sass/breakpoints" as mq;
@use "../../styles/sass/typography" as t;

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-start: clamp(v.$sp-04, 0.5229rem + 2.0356vw, v.$sp-06);
  @include mq.md {
    margin-block-start: clamp(v.$sp-06, -0.2143rem + 3.5714vw, v.$sp-12);
  }
}
.header__logo {
  width: clamp(v.$sp-35, 5.1718rem + 15.2672vw, 12.5rem);
}

.header__divider {
  border: solid 1px v.$neutral-600;
}

.dropdown__title {
  color: v.$neutral-300;
  padding: v.$sp-015 v.$sp-02;
  text-transform: capitalize;
  @include t.dropdownTitle;
}
