@use "../../styles/sass/variables" as v;
@use "../../styles/sass/breakpoints" as mq;
@use "../../styles/sass/typography" as t;

.search {
  text-align: center;
}

.search__header {
  color: v.$neutral-0;
  margin-block: clamp(v.$sp-12, 1.8571rem + 2.381vw, v.$sp-16);
  margin-inline: auto;
  max-width: 600px;
  @include t.header;
  @include mq.lg {
    max-width: fit-content;
  }
}

.search__form {
  display: grid;
  gap: v.$sp-03;
  max-width: 656px;
  margin-inline: auto;
  @include t.input;
  @include mq.md {
    grid-template-columns: auto max-content;
  }
}

.search__button {
  background-color: v.$blue-500;
  border-radius: v.$r-12;
  color: v.$neutral-0;
  cursor: pointer;
  padding: v.$sp-04;

  &:hover {
    background-color: v.$blue-700;
  }

  &:focus {
    outline: v.$sp-005 solid v.$blue-500;
    outline-offset: 3px;
  }
}
